body {
    margin: 0;
    line-height: normal;
  }
  .rectangle-div,
  .rectangle-div1,
  .rectangle-div2 {
    position: absolute;
    top: 1666px;
    left: 0;
    background-color: #00203F;
    width: 1440px;
    height: 637px;
    box-shadow: 0px 10px 10px 0px;
  }
  .rectangle-div1,
  .rectangle-div2 {
    top: 368px;
    width: 1434px;
    height: 308px;
  }
  .rectangle-div2 {
    top: 806px;
    left: 627px;
    background-color: var(--color-violet-300);
    width: 850px;
    height: 590px;
  }
  .house-searching-cuate-1 {
    position: absolute;
    top: 136px;
    left: 832px;
    width: 602px;
    height: 602px;
    object-fit: cover;
  }
  .homeabout-us-div {
    position: absolute;
    top: 522px;
    left: 159px;
    font-size: 17px;
    letter-spacing: 0.09em;
    line-height: 20px;
    text-align: left;
    display: inline-block;
    width: 216px;
    color:#ADEFD1FF;
  }
  .what-we {
    margin-block-start: 0;
    margin-block-end: 0px;
    color:white;
  }
  .do-p {
    margin: 0;
  }
  .what-we-do-container {
    line-break: anywhere;
    width: 100%;
  }
  .about-us,
  .what-we-do {
    position: absolute;
    color: var(--color-gold-100);
    text-align: left;
  }
  .what-we-do {
    top: 563px;
    left: 150px;
    font-size: var(--font-size-xl);
    letter-spacing: 0.09em;
    line-height: 78px;
    display: flex;
    align-items: center;
    width: 435px;
    height: 246px;
  }
  .about-us {
    top: 839px;
    left: 720px;
    font-size: var(--font-size-lg);
    letter-spacing: -0.01em;
    line-height: 57px;
    display: inline-block;
  }
  .rectangle-div3 {
    position: absolute;
    top: 1816px;
    left: 71px;
    background-color: #1A466C;
    width: 311px;
    height: 402px;
  }
  .blah-blah-blah-blah-blah-blah {
    position: absolute;
    top: 935px;
    left: 786px;
    font-size: 32px;
    letter-spacing: -0.01em;
    line-height: 46px;
    font-weight: 500;
    white-space: pre-wrap;
    text-align: left;
    display: inline-block;
  }
  .hostel-days-website-favicon-wh {
    position: absolute;
    top: 933.06px;
    left: 1213.52px;
    width: 345.31px;
    height: 396.16px;
    object-fit: cover;
  }
  .meet-the-team {
    position: absolute;
    top: 1894px;
    left: 95px;
    font-size: var(--font-size-xl);
    letter-spacing: 0.09em;
    line-height: 77px;
    display: flex;
    color: var(--color-white);
    white-space: pre-wrap;
    align-items: center;
    width: 264px;
    height: 246px;
  }
  .designers,
  .developers-i {
    top: 1607px;
    font-size: var(--font-size-lg);
    letter-spacing: -0.04em;
    line-height: 33px;
    font-weight: 600;
  }
  .developers-i {
    position: absolute;
    left: 554px;
    display: inline-block;
    color: #ADEFD1FF;
  }
  .designers {
    left: 849px;
    color: var(--color-violet-300);
  }
  .contributers,
  .designers,
  .prafulla-parsai-div {
    position: absolute;
    display: inline-block;
  }
  .contributers {
    top: 1607px;
    left: 1115px;
    font-size: var(--font-size-lg);
    letter-spacing: -0.04em;
    line-height: 33px;
    font-weight: 600;
    color: var(--color-violet-300);
  }
  .prafulla-parsai-div {
    top: 2070px;
    left: 506px;
    line-height: 50px;
    font-weight: 500;
    color: #ADEFD1FF;
  }
  .cs-ctis-div,
  .cs-ctis-div1,
  .cs-ctis-div2,
  .prakhar-kabra-div,
  .tanishqa-porwal-div {
    position: absolute;
    top: 2136px;
    left: 544px;
    line-height: 50px;
    font-weight: 500;
    display: inline-block;
    color: #ADEFD1FF;
  }
  .cs-ctis-div1,
  .cs-ctis-div2,
  .prakhar-kabra-div,
  .tanishqa-porwal-div {
    left: 871px;
    text-align: center;
  }
  .cs-ctis-div2,
  .prakhar-kabra-div,
  .tanishqa-porwal-div {
    left: 1170px;
    text-align: center;
  }
  .prakhar-kabra-div,
  .tanishqa-porwal-div {
    top: 2070px;
    left: 845px;
    text-align: center;
  }
  .tanishqa-porwal-div {
    left: 1118px;
  }
  .mask-group-icon {
    position: absolute;
    top: 1828px;
    left: 500px;
    width: 221px;
    height: 230px;
    object-fit: cover;
  }
  .apartment-rent-pana-2-1,
  .mask-group-icon1,
  .mask-group-icon2 {
    position: absolute;
    top: 1828px;
    left: 808px;
    width: 224px;
    height: 230px;
    object-fit: cover;
  }

  .mask-group-icon2 {
    left: 1116px;
  }
  .apartment-rent-pana-2-1 {
    top: 839px;
    width: 624px;
    height: 624px;
    left: 0px;
  }
  .desktop-2 {
    position: relative;
    background-color: #1A466C;
    width: 100%;
    height: 2452px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-base);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  